form{
    max-width: 80%;
    margin: 20px auto;
    padding: 10px;
    color: #000;
    border:1px solid blue;
    /*label{
        font-size: 18px;
        margin-right: 5px;
    }
    input{
        width: 100%;
        margin-top: 5px;
        &:focus{
            border: 2px solid rgba(83, 223, 233, 0.3);
        }
    }
    button{
     width: 100%;
     background: royalblue;
     &:hover{
         background: rgb(46, 139, 116);
     }
    }*/
}