header{
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
    background: cornflowerblue;
    /*h1{
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }*/
}